body {
	padding-bottom: 3em;
}
/*
** Font
*/

@font-face {
    font-family: 'butlerregular';
    src: url('/assets/fonts/butler_regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/butler_regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'butlermedium';
    src: url('/assets/fonts/butler_medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/butler_medium-webfont.woff') format('woff');
}

@font-face {
    font-family: 'arconregular';
    src: url('/assets/fonts/Arcon-Regular.otf') format('opentype');
}

/* Main page\
#ffccb3`
*/
#main-logo {
    width: 64px;
    height: 64px;
}

.justify {
    text-align: justify;
}

#main-page {
}

.bck-ghost {
    position: absolute;
    width: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
}

.cover-bck {
    height: 100%;
    background-color: red;
    width: 100%;
    left: 0px;
}

.btn-outline-success {
    color: #f6f3e1;
    background-color: transparent;
    background-image: none;
    background-color: #ffccb3;
    border: none;
    border-radius: 50px;
    padding: 0.7em 2em;
}

.ghost-body {
    width: 100%;
    position: absolute;
    left: 0;
    background-image: url('../imgs/index_3.jpg');
    height: 205px;
    background-size: cover;
    margin-top: -50px;
}

.index-h3 {
    text-align: left !important;
}
.index-h3-right {
    text-align: right !important;
}

html {
    position: relative;
    min-height: 100%;
}

.digiths {
    margin-left: -4.5em !important;
    margin-right: -4.5em !important;
    box-shadow: 0 2px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.digiths > div {
    color: #f6f3e1;
    padding: 2em 2em 2em 2em;
    font-family: 'fantasy', sans-serif;
    text-align: center;
    margin-top: -49px;
}

.number-wrap {
    display: inline-block;
    max-width: 100px;
}

body {
    background-color: #f6f3e1;
}

.onepage {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


a {
    color: #97838f;
}

/*
header
*/


.header {
    padding:1em g2em;
    transition: .5s all;
}

.dropdown-menu {
    background: #f6f3e1;
    border: none;
    min-width: 215px;
}

.dropdown-item {
    padding: 0.4em 1em;
    color: #98838f;
    font-size: 1.2rem;
    transition: .5s padding-left;
}

.dropdown-item:hover {
    padding-left: 2em;
}
a:hover, .dropdown-item:hover {
    background-color: transparent;
    color: #ffbb80;
}
/*
end header
*/


/*
Container padding
*/

.onepage {
    padding-top: 20vh;
    min-height: 80vh;
}

/*
End container padding
*/

/*
 * blockquote
*/

blockquote {
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
}

blockquote:before {
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -10px;
    top: -10px;
}

blockquote cite {
}

blockquote cite div:before {
    content: "\2014 \2009";
}

/*
 * Carousel
*/

.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}
html, body, .carousel, .carousel-inner, .carousel-item {
  width: 100%;
  height: 100%;
}
.carousel {
  position: absolute;
  top: 0;
  left: 0;
}


/*
 * out Carousel fade
*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #c8b5ac;
    color: #FFFFFF;
}

.btn-donate:hover,.btn-outline-success:hover, .btn-secondary:hover {
    background-color: #ffccb3 !important;
}

.btn-secondary, .btn-donate, .btn-outline-success {
    background-color: #98838f;
    color: #f6f3e2;
    padding: .5em 1.3em;
    border: none;
    border-radius: 1em;
}

#mail-text-area {
    width: 100%;
    height: 200px;
    margin-top: 1em;
    background-color: transparent;
    border: none;
    color: #98838f;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #98838f;
    font-weight: 100;
    font-size: .9em;
}
  

#mail-mail-area {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #98838f;
}



/* TODO: hardcoded */
.body-content {
    margin-top: 60px;
}

@media screen and (min-width: 400px) {
.body-content {
    padding: 6rem 1.5rem;
}
}

.quotes {
    color: #98838f;
    font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

p, .navbar {
    font-family: 'arconregular';
}

p {
   text-align: justify;
}

h1, h2, h3, h4, h5 {
    font-family: 'butlerregular';
    color: #ffbb80;
}

form.lang {
    padding-right: 1em;
    background: none;
}

select.lang {
    -webkit-appearance: none;
    border: none;
    background: none;
}

.profile {
    padding-top: 1em;
}

.profile > h4 {
    text-align: center;
    padding-top: 1em;
}

.profile > p {
    text-align: justify;
    font-size: 0.9em;
}

.profile > img {
    border-radius: 50%;
    max-width: 200px;
    max-width: 200px;
    display: block;
    margin: auto;
}

/*
** FOOTER
*/

.fa {
  padding: 20px 20px 15px 20px;
  font-size: 30px;
  min-width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.stat-row > span  {
    font-size: 1.8em;
}

.img-sepia {
  -webkit-filter: sepia(100%); /* Safari 6.0 - 9.0 */
  filter: sepia(100%);
}

.img-slide, .img-slide2 {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
