/* Main page\
#ffccb3`
*/
#main-logo {
    width: 64px;
    height: 64px;
}

#main-page {
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f6f3e1;
}

a {
    color: #97838f;
}

h1 {
    color: #ffccb3;
}


/*
header
*/

.header {
    transition: .5s all;
}

/*
end header
*/


/*
index
*/
@media screen and (min-width: 1000px) and (max-width: 575px) {
    .index-param {
        padding-right: 15em !important;
    }
}

@media screen and (min-width: 575px) {
    .index-param {
        padding-left: 4em !important;
        padding-right: 4em !important;
        padding-top: 0em !important;
    }
}
/*
end index
*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}

/* TODO: hardcoded */
.body-content {
    margin-top: 60px;
    background-color: #f6f3e2;
    min-height: 1000px;
}

.body-content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.body-content-part > * {
    color: #98838f;
}

.quotes {
    color: #c9b5ac;
}

.body-content-part h3 {
    color: #ffccb3;
}
.body-content-part h4 {
    color: #ffccb3;
}
