/* Main page
*/
#main-logo {
    width: 64px;
    height: 64px;
}

#main-page {
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}

/* TODO: hardcoded */
.body-content {
    margin-top: 60px;
    background-color: #f6f3e2;
    min-height: 1000px;
}

.body-content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.body-content-part > * {
    color: #98838f;
}

.quotes {
    color: #c9b5ac;
}
.body-content-part > h3 {
    color: #ffccb3;
}
