@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.timeline {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 550px;
  max-width: 80vw;
  position: relative;
}
.timeline__content-title {
  font-weight: normal;
  font-size: 66px;
  margin: -10px 0 0 0;
  transition: .4s;
  padding: 0 10px;
  box-sizing: border-box;
  font-family: 'butlerregular';
  color: #ffccb3;
}
.timeline:before {
  position: absolute;
  left: 50%;
  width: 10px;
  height: 100%;
  margin-left: -1px;
  margin-top: 1em;
  content: "";
  background: #ffccb3;
  z-index: -99999;
}

@media only screen and (max-width: 767px) {
  .img_container {
    width: 30vw;
    height: 50vh;
  }
  .timeline:before {
    left: 40px;
  }
  .timeline {
    max-width: none !important;
    min-width: 0 !important;
  }
}
.timeline-item {
  padding: 75px 0; /* <-- space between element */
  opacity: 0.5;
  filter: blur(1px);
  transition: filter .5s;
  transition: opacity .5s;
  box-sizing: border-box;
  width: calc(50% - 40px);
  display: flex;
  position: relative;
}

/* title */
.timeline-item:before {
  content: attr(data-text);
  letter-spacing: 3px;
  width: 100%;
  position: absolute;
  font-size: 1.75em;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  top: 70%;
  margin-top: -5px;
  padding-left: 15px;
  opacity: 0;
  right: calc(-100% - 56px);
  font-family: 'butlerregular';
  color: #ffccb3;
}
.timeline-item:nth-child(even) {
  align-self: flex-end;
}
.timeline-item:nth-child(even):before {
  right: auto;
  text-align: right;
  left: calc(-100% - 56px);
  padding-left: 0;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}
.timeline-item--active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}
.timeline-item--active:before {
  top: 50%;
  transition: .1.5s all .7s;
  opacity: 1;
}
.timeline-item--active .timeline__content-title {
  margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
  .timeline-item {
    align-self: baseline !important;
    width: 100%;
    padding: 0 30px 150px 80px;
  }
  .timeline-item:before {
    left: 10px !important;
    padding: 0 !important;
    top: 50px;
    text-align: center !important;
    width: 60px;
    border: none !important;
  }
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

.timeline__content {
	width: 100%;
}

@media only screen and (min-width: 767px) {
	.timeline-item:nth-child(odd) > .timeline__content > p,
	.timeline-item:nth-child(odd) > .timeline__content > h2 {
		text-align: right;
	}
}

@media screen and (max-width: 870px) {
	.img_container {
		display: none;
	}
}

.timeline-item:nth-child(even) > div > .img_container {
	top: 0;
	text-align: right;
}
.img_container {
	position: absolute;
	left: 116%;
	top: 0;
}

@media screen and (min-width: 700px) {
	.timeline-item:nth-child(even) > div > .img_container {
		position: absolute;
		left: -42vw;
	}
	.img_container {
		width: 38vw;
		height: 50vh;
	}
}

@media screen and (min-height: 700px) {
	.img_container {
		height: 38vh;
	}
}

.img_container > img {
	padding: 10px; /* transition */
	max-width: 80%;
	max-height: 80%;
}

.timeline-container {
  width: 100%;
  position: relative;
  transition: .3s ease 0s;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 10%;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: red;
  font-size: 46px;
  font-family: Cardo;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.demo-footer {
  padding: 60px 0;
  text-align: center;
}
.demo-footer a {
  color: #999;
  display: inline-block;
  font-family: Cardo;
}

